
/* Resetowanie domyślnych stylów przeglądarki */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #bacde4;
    border: 3px solid #2c4e83;
    border-radius: 10px;
    width: 85%;
    height: 85%;
}

h1{
    font-size: 70px;
}

h2 {
    font-size: 40px;
    margin-top: 1%;
}

form {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 75%;
}

label {
    font-size: 25px;
    color: #222222;
    margin-top: 1%;
}

input[type="email"],
input[type="text"],
input[type="number"],
input[type="password"] {
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 20px;
    width: 55%;
    height: 15%;
}

button {
    margin-top: 3%;
    background-color: #5073bc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    text-align: center;
    width: 20%;
    height: 20%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #214b9a;
}

.info {
    color: #8f0000;
}