.post {
    width: calc(33.333% - 10px);
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    padding-top: 50%;
}

.photo {
    cursor: pointer;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
    transition: transform .2s;
}

.photos, .post {
    will-change: transform;
}