* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 100vh;
    max-height: 100vh;
    width: 100%;
}

main {
    width: 85%;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    background-color: #e9eff9;
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    height: 100vh;
}