
main {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #e9eff9;
}


.profile-information {
    height: 22%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding: 20px;
}

.top-profile-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.user-profile-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;

}

.username {
    font-size: 24px;
    font-weight: bold;
}

.top-profile-info form  {
    margin-left: 15%;
}

.top-profile-info form button {
    background-color: #446ba5;
    color: white;
    border: none;
    padding: 10px 17px;
    border-radius: 8px;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.top-profile-info form #unfollowButton {
    background-color: #7098d3;
}



.bottom-profile-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  /* wyśrodkuj liczby */
    gap: 30px;                /* odstęp między statystykami */
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 1rem;
    color: #333;
}

.bottom-profile-info p {
    margin: 0;
}

.bottom-profile-info p:last-child {
    flex-basis: 100%;
    font-weight: normal;
    font-size: 0.95rem;
    color: #4e4c4c;
}


.bottom-box {
    width: 85%;
    align-self: center;
    height: 70%;
}

.photos-options{
    display: flex;
    flex-direction: row;
    gap: 10%;
    height: auto;
    width: 100%;
    justify-content: center;
}

.option-button {
    background-color: #446ba5;
    color: white;
    border: none;
    padding: 0.9rem 1.2rem;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 3%;
    width: 65%;
    justify-self: center;
    max-height: 60vh;
    overflow-y: auto;
    border-radius: 15px;
    padding: 10px;
}

.containerForNoPostsText {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    width: 100%;
}

.noPostsText {
    text-align: center;
}